html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  background-color: white !important;
  padding: 0 !important;
  font-family: "Source Sans Pro", Helvetica, sans-serif !important; 
  font-size: 1rem !important;
  scroll-behavior: smooth !important;
}

*, *::before, *::after ,div{
    color: transparent !important;
    border: none !important;
}

h1, h2, h3, h4, h5, h6, a li, span, button, p{
    color: #001e62 !important;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.dot{
    --dot-bg: #001e62;
    --dot-color: #001e62;
    --dot-size: 10px;
    --dot-space: 12px;
      background:
          linear-gradient(30deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 15%) center / var(--dot-space) var(--dot-space);
          /* linear-gradient(var(--dot-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), */
          /* var(--dot-color); */
          position: fixed;
          width: 100%;
          height: 70%;
          z-index: 20;
          opacity: 0.05 !important;
          bottom: 0;
        }
        
        /* background-image: radial-gradient(circle at 1px 1px, black 1px, transparent 0);
        background-size: 40px 40px; */
#pinContainer {
  width: 100%;
  height: 100%;
}
#slideContainer {
  width: 500%;  /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}
.panel {
  height: 100%;
  width: 20%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  position:relative !important;
  overflow:hidden;
}
.blue {
  background-color: #3883d8;
}
.turqoise {
  position: relative;
  background-color: #38ced7;
}
.brown {
  background-color: #a66f28;
}
.bordeaux {
  background-color: #953543;
}
.pink {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}

#parallaxOne {
  #myimg {
    position:absolute;
    left:50%;
  }
}

#parallaxTwo {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;

  h1,
  img {
    position: absolute;
    left:0;
  }
}

#parallaxThree {
  position: absolute;
  /* top: 0;
  left: 50%; */
  height: 100%;
  width: 100%;

  
}



/*  banner */
.space{
    padding: 5rem;
}

.banner{
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    /* background-image: url(/assets/banner.png); */
    /* background-size: cover; */
    /* background-position: center; */
}
/* 
.video-design{
    position: absolute !important;
    z-index: -1 !important;
}

@media (min-aspect-ratio: 16/9){
    .video-design{
        width: 100% !important;
        height: auto !important;
    }
}
@media (max-aspect-ratio:16/9){
    .video-design{
        width: auto !important;
        height: 100% !important;
    }
} */

.banner-content{
    /* position: absolute !important; */
    z-index: 10 !important;
    color: black !important;
    top: 16%;
    width: 40%;
    margin-left: 30rem !important;
}

.banner-content h1{
    color: #273e8f !important;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
}

 .banner-content p{
    color: black !important;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.banner-img{
  width: 60%;
}

.banner-flex{
  justify-content: space-between !important;
  align-items: center !important; 
}


.end-0 {
    right: 0 !important;
}
.start-0 {
    left: 0 !important;
}
.bottom-0 {
    bottom: 0 !important;
}
.top-0 {
    top: 0 !important;
}
.position-absolute{
    position: absolute !important;
}

.imgg img{
    width: 100% !important;
}

.img1{
    width: 600px;
    height: 600px;
    object-fit: contain;
    margin-bottom: -13rem;
    margin-top: -6rem !important;
}
.img2{
    width: 300px;
    height: 300px;
    object-fit: contain;
}


 .layer1{
    position: absolute !important;
    right: 0 !important;
}

 .layer4{
    position: absolute !important;
    left: 0 !important;
} 

.story-item h3{
    position: absolute !important;
    margin: 2rem 0 !important;
    padding: 2rem 0 !important;
    width: 85% !important;
    font-size: 2rem !important;
    border-top: 2px solid rgb(241, 180, 52) !important;
    font-weight: 600 !important;
    text-align: center !important;
}

.story-item p{
  margin-top: 7rem;
  color: black !important;
  width: 93%;
  text-align: center;
}

.sec-two{
    background-color: white !important;
    margin-top: 3rem !important;
}

.story-item{
     width: 45% !important;
     margin: 1rem 1rem !important;
     padding: 1rem;
}


/* .story-item p{
  background-color: red;
} */

.story-cont h1{
    position: absolute;
    font-size: 6rem ;
    z-index: 30 !important;
    font-weight: 600;
    margin-left: 3rem ;
}

section{
    height: 100vh !important;
}

.paralex{
    transform-style: preserve-3d;
    perspective: 100px;
    /* z-index: -1; */
    
    & > div{
        /* filter: contrast(1.2); */
        /* z-index: -1; */
        pointer-events: none;

    }
}

.feature-item{
    padding: 1rem;
}

.layer5{
    position: absolute !important;
    left: 0 !important;
} 
.layer7{
    position: absolute !important;
} 
.layer8{
    position: absolute !important;
    right: 0 !important;
} 

.transparent-black{
    background-color: rgba(0, 0, 0, 0.679);
    z-index: 100 !important;
    
}

.feature-item{
    width: 30% !important;
    margin-top: 7rem !important;
    text-align: center !important;
}


.feature-item h1{
    font-size: 8rem;
    text-align: center !important;
    font-weight: 500;
    width: 100%;
    margin-left: -20px;
    color: #3D69FF !important;
}

.feature-item p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10rem;
    color: black !important;
}

.featur-cont{
    border-top: 2px solid rgb(241, 180, 52) !important;
}

#sectionFour{
    margin-top: 30px;
}

.feature-title{
   text-align: center !important;
   position: absolute !important;
   display: block !important;
   margin-left: auto !important; 
   margin-right: auto !important;
   width: 100% !important;
    font-size: 3.5rem !important;
    margin-left: -3.5rem !important;
}

.datas{
    margin: 2rem 0;
}

.datas h6{
    padding-top: 5px;
}

.data-bg{
    margin: 0 .5rem;
    border-right: 2px solid rgb(241, 180, 52) !important;
    border-left: 2px solid rgb(241, 180, 52) !important;
    padding: 0 .5rem;
}

@keyframes fade{
  from{
    top: -5rem ;
  }
  to{
    top: 0 ;
  }
 
}
@keyframes trans{
  from{
    bottom: -20rem;
  }
 
  to{
    bottom: 1rem;
  }
}


/* .psd{ 
  animation: fade linear forwards ;
  animation-timeline: scroll(nearest);
   animation-range: contain 50% exit 50%;
}
.psds{
  animation: fade linear both ;
  animation-timeline: scroll(inline);
  animation-range: 10% entry 90% exit;
}
.pssd{
  animation: fading linear both ;
  animation-timeline: scroll(inline);
  animation-range: contain 50% exit 50%;
} */


/* .insights{
  margin-top: -2rem;
} */


.greenish{
  background-color: #d1dbff59 !important;
  padding: 3rem 0rem 3rem 5rem !important;
  margin: 0 !important;
}

.timeline-item a, .timeline-item p{
  color: black !important;
  font-size: 1.1rem !important;
}

.timeline-item h3{
  color: #001e62 !important;
}

.btn-green{
  background-color: transparent !important;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white !important;
  color: white !important;
  font-size: 1rem !important;
  font-weight: 600;
}

.timeline-item li{
   padding: 1rem !important;
   border-bottom: 1px solid white !important;
  }

  .listing a{
   cursor: pointer;
   font-weight: 500 !important;
   font-size: 1.5rem !important;
   width: 100% !important;
}

.listing img{
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
  margin: 2rem;
}

.timeline-item h1{
   font-size: 3rem;
   /* width: 40% !important; */
   padding: 0 !important;
   margin-left: 0rem;
   font-weight: 550;
   margin-top: -4rem !important;
}
.timeline-item p{
  margin-top: 0rem;
  width: 100%;
  text-align: justify;
  font-size: 16px !important;
}

.listing{
  /* border-top: 2px solid rgb(241, 180, 52) !important; */
  padding: 0 3rem 0 1rem;
  width: 50%;
  margin-left: 2rem;
}

.time-width{
  width: 45% !important;
  border-top: 2px solid rgb(241, 180, 52) !important;
  padding-top: 1rem;
}

.violets{
  background-color: transparent  !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.das{
  background-color: white !important;
  height: 100vh;
}
/* #600975 */

.bordeaux {
  background-color: yellowgreen;
}

.blues{
  background-color: #001e62 !important;
}

.paras{
  padding-top: 4rem;
}

.last{
  width: 110% !important;
}

.imging{
  position: absolute !important;
  width: 500px !important;
  height: 900px !important;
  object-fit: cover;
  border-radius: 0 150px 0 0;
  z-index: 10;
  opacity: 0.8;
  margin-top: 40rem;
}

.violet-item{
  background-color: black !important;
} 
.violet-items h1{
  color: #001e62 !important;
  font-weight: 550;
  margin-top: -5rem;
  margin-left: 2rem;
  margin-bottom: 10rem;
  font-size: 3rem !important;
} 
.violet-items img{
  width: 500px;
  height: 300px;
  object-fit: contain;
  border-radius: 30px;
} 

.violet-items{
  margin-left: 5rem;
  z-index: 50;
  position: absolute;
  top: 25%;
}

.violet-content{
  margin-left: 40rem;
  margin-top: 10%;
  width: 500px;
}

.count-bottom{
  padding-bottom: 30px;
}

.violet-content h4{
  color:#001e62 !important;
}
.violet-content p{
  color: black !important;
}

.count-bottom{
  margin-left: 10rem !important;
  margin-right: -10rem !important;
}

.dash h1{
  font-size: 10rem;
  color: #f1b434 !important;
}
.item-count p{
  color: black !important;
}

.dash, .item-count{
  justify-content: left !important;
  text-align:left !important;
}

.dash img{
  margin-left: 50px;
}

.psd{
	        animation: slide-top .5s linear both;
          animation-timeline: scroll(nearest);
          animation-fill-mode: both;
          animation-range-start: entry 10% exit 90%;
}
.psd1{
	        animation: slide-top2 .5s linear both;
          animation-timeline: scroll(nearest);
          animation-fill-mode: both;
          animation-range-start: entry 10% exit 90%;
}
.psd2{
	        animation: slide-top3 .7s linear both;
          animation-timeline: scroll(nearest);
          animation-fill-mode: both;
          animation-range-start: entry 10% exit 90%;
}
.spd{
	        animation: jan .7s linear both;
          animation-timeline: scroll(root);
          animation-fill-mode: both;
          animation-range-start: entry 1% exit 100%;
}
.spd2{
	        animation: feb .7s linear both;
          animation-timeline: scroll(root);
          animation-fill-mode: both;
          animation-range-start: entry 1% exit 0%;
}

/* @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
            opacity: 1;
  }
} */
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  100% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
}
/* @-webkit-keyframes slide-top2 {
  0% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(800px);
            transform: translateY(800px);
            opacity: 1;
  }
} */
@keyframes slide-top2 {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
      
  }
}
@keyframes slide-top3 {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(-100px);
      
  }
}
@keyframes jan {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes feb {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(-60px);
  }
}

.footer-page-link a, .footer-align2 h3{
  color: white !important;
}

.footer-align2 h3{
  margin-left: .5rem ;
}

.footer-page-link{
  padding: 0 2.5rem;
}

.footer-align2{
  margin: -5rem;
  margin-left: 10rem;
}

.footer-align1{
  margin-left: 0rem;
  margin-top: 2rem !important;
  /* background-color: black; */
}

.footer-contact p{
    color: white !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 10px !important;
    font-size: 15px !important;
}

.last-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-align2 input{
  margin: 1.5rem 1rem;
  background-color: transparent;
  outline: none;
  width: 270px;
  padding: 5px 10px;
  border-bottom: 2px solid white !important; 
  color: white !important;
}

option, select{
  color: grey !important;
  background-color: #001e62;
}

.input-group{
  margin-left: 15px;
  width: 575px !important;
  border-bottom: 2px solid white !important;
}

.comment{
  width: 575px !important;
}

select{
  outline: none;
}

.footer-btn{
  background-color: white;
  color: #001e62 !important;
  border: 1px solid white !important;
  padding: 5px 15px;
  margin:1.5rem 1rem;
  font-weight: 600;
  border-radius: 10px;
}

.contact-list{
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  /* background-color: #a66f28; */
  margin-top: 12rem !important;
}

.contact-list li{
  margin-left: 0rem;
}
.footer-page-link{
  width: 100% !important;
  position:relative !important;
  bottom: 1rem !important;
  /* background-color: red; */
  padding: 0 !important;
  margin-top: -7rem !important;
}

.last-scene{
  padding: 10rem 5rem;
  margin-top: 5rem !important;
}


/* .das{
  height: 100% !important;
} */

.footer-align{
  margin-left: 35%;
  margin-top: -18rem;
  align-items: start;
  justify-content: space-between !important;
  padding-top: 5rem;
}


.footer-align li{
  margin: 1rem;
}

button, a{
  cursor: pointer !important;
}

.search-bar{
  background-color: transparent !important;
  padding: .5rem 5rem;
  border: 2px solid white !important;
  border-radius: 20px;
  color: white !important;
  z-index: 60 !important;
}

.search-bar::placeholder{
  color: white !important;
  font-weight: 600;
}

.banner-btn{
  position: absolute !important;
  right: 7rem !important;
  bottom: 7rem !important;
  background-color: white !important;
  color: #001e62 !important;
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  border-radius: 30px;
}


.accordion {
	width: 100%;
	margin: 2rem auto;
  margin-top: 0rem;
}

.accordion-item {
	background-color: transparent;
	color: #001e62 !important;
	margin: 1rem 0;
  border-bottom: 2px solid black !important;
}

.accordion-item-header {
  font-weight: 500 !important;
	padding: 0.5rem 3rem 0.5rem 1rem;
	min-height: 4.5rem;
	line-height: 1.25rem;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
  font-size: 18px;
  color: black !important;
}

.accordion-item-header::after {
	content: "\002B";
	font-size: 1.5rem;
	position: absolute;
	right: 1rem;
  color: black !important;
}

.accordion-item-header.active::after {
	content: "\2212";
  color: black !important;

  
}

.accordion-item-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  color: #001e62 !important;
}

.accordion-item-body-content {
	padding:  1rem;
	line-height: 1.5rem;
	border-top: 1px solid;
	border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
	font-weight: 450;
	text-align: left;
  color: black !important;
  font-size: 15px;
}

b{
  color: black !important;
}

#faq{
  margin-top: -2rem;
}

.word {
  display: none;
}

.logo{
  display: none;
}

.layer3{
  position: absolute !important;
  text-align: center !important;
  width: 100%;
  font-size: 4rem !important;
}

 #img2, #img3, #img4{
  display: none;
}

.site_logo{
  margin: 2rem 6rem;
}

.stat-flex{
  justify-content: center !important;
  margin-left: 3rem;
}

.headings{
  font-size: 3rem !important;
  margin-left: -1rem !important;
}

option[value=""][disabled]{
  display: none;
}

.site_logo img{
  margin-top: 3rem !important;
}

.spd h1{
  font-size: 3rem !important;
}

.banners-btn{
  position: relative !important;
  margin:  0  !important;
  padding: 10px 30px !important;
  background-color: #001e62 !important;
  color: white !important;
  border: 5px solid #273e8f !important;
}

.form-check-label{
  color: white !important;
  width: 70%;
  margin-left: 50px;
  font-weight: 450 !important;
}

#flexCheckDefault{
  position: absolute;
  margin-left: -7rem;
  margin-top: 0;
}

.last-scene{
  height: 115vh !important;
}

.final-btn{
  padding: 5px 10px !important;
  font-weight: 550;

}

.nav-links{
  margin-top: -35px;
  margin-left: 180px;
}

.nav-links a{
   color: #001e62 !important;
   margin: 1rem;
   font-weight: 700 !important;
   font-size: 1rem !important;
}

nav{
  margin-left: 0px;
}

@media screen and (max-width:680px) {
  .d-flex{
    flex-direction: column !important;
  }
}